.titulo {
    text-align: center;
}

.boton-1 {
    display: flex;
    margin-top: 50px;
}


.boton-3 {
    margin-left: 1200px;
}

.redondo {
    position: absolute;
    left: 1400px;
    top: 120px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.cuadro {
    margin: 20px auto;
    margin-left: 50px;
    border: 2px solid cadetblue;
}

.equis {
    position: relative;
}
.btn{
    margin-left: 10px;
}


