.titulo{
    text-align: center;
}

.boton-1{
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
}

.boton-2{
    margin: 1px;
    margin-left: 1265px;
}

.boton-3{
    margin: 1px;
    margin-left: 1250px;
}

.redondo{
 display: block;
 width: 45px;
 height: 45px;
 border-radius: 50%;
 margin-left: 1350px;
 margin-top: -40px;
}

.cuadro{
    border: 2px solid cornflowerblue;
    width: 1400px;
    height: 450px;
    margin-left: 30px;
}

input[type="checkbox"] + label {
    color: red;
  }

  input[type="checkbox"]:checked + label {
    color: blue;
  }

  input[type="checkbox"] + label:before {
	content: "";
	width: 18px;
	height: 18px;
	float: left;
	margin: 0.5em 0.5em 0 0;
	border: 2px solid #ccc;
	background: #fff;
}
input[type="checkbox"]:checked + label:before {
	border-color: #0fbf12;
}

input[type="checkbox"]:checked + label:after {
    content: "";
    width: 10px;
    height: 2px;
    border: 4px solid #0fbf12;
    float: left;
    margin-left: -1.45em;
    border-right: 0;
    border-top: 0;
    margin-top: 1em;
    transform: rotate(-55deg);
}

input[type="checkbox"] {
	display: none;
}
