.titulo {
    text-align: center;
}

.boton-1 {
    display: flex;
    margin-top: 50px;
}


.boton-3 {
    margin-left: 1200px;
}

.redondo {
    position: absolute;
    left: 1400px;
    top: 120px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.cuadro {
   min-height: 450px;
   border: 2px solid black;
  
   
}

.equis {
    position: relative;
}
.btn{
    margin-left: 10px;
}
.texto2{
    border: 2px solid black;
    padding: 10px;
    margin: 1px;

}

#modify{
    padding: 15px;
    margin-top: -50px;
    
}


.mod{
    margin-top: 20px;
}

