.seccion{
    width: 410px;
    background-color: #aaa;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.oculto{
    display: none;
}
.visible{
    display: block;
}
.inicio{
    width: 95%;
    background-color: #aaa;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family: 'calibri';
    font-size: 18px;
}

.cambiar{
    width: 100%;
    background-color: #3c2048;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}